<div class="loading" *ngIf="loading$ | async">
  <div class="spinner"></div>
</div>

<section *ngIf="!(loading$ | async)">
  <div class="product animeLeft" *ngIf="product$ | async as product">
    <div>
      <img
        *ngFor="let image of product.fotos"
        [src]="image.src"
        [alt]="image.titulo"
      />
    </div>
    <div>
      <h1>{{ product.nome }}</h1>
      <p class="btn btn-primary">R$ {{ product.preco }}</p>
      <p class="description">Um produto de excelente qualidade</p>
      <button routerLink="/payment" class="btn btn-success">Comprar</button>
    </div>
  </div>
</section>
