<header class="container">
  <h1 class="title">Loja Virtual</h1>
  <nav class="nav">
    <ul>
      <li>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/products"
          >Produtos</a
        >
      </li>
      <li>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          router
          routerLink="/contact"
          >Contato</a
        >
      </li>
    </ul>
  </nav>
</header>
