// Fonts
$primary-font: Arial, Helvetica, sans-serif;

// Colors

$primary-white: #ddd;
$primary-black: #000;
$primary-gray: #aaa;

// Mixins
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
