@import "src/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  @include mobile {
    padding: 20px;
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: $primary-black;
}

h1 {
  font-size: 1.4rem;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s forwards;
}
@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.loading {
  display: flex;
  justify-content: center;
}
.spinner {
  width: 80px;
  height: 80px;
  margin-top: 120px;
  border: 8px solid $primary-black;
  border-top-color: $primary-white;
  border-radius: 50%;
  animation: loading 1s normal infinite;
  @include mobile {
    margin-top: 20px;
    width: 60px;
    height: 60px;
  }
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
